# Python cache files
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/

*.pyc
*.pyo
*.pyd

settings_local.py
.env

!*/migrations/__init__.py


# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
.env

# Database
db.sqlite3

# Django local settings
settings_local.py
drmed_labreqsys/settings.py
drmed_labreqsys/settings.py
drmed_labreqsys/settings.py
drmed_labreqsys/settings.py
/theme/static/css/dist
