{% extends 'labreqsys/base.html' %}
{% load static tailwind_tags %}

{% block content %}

<!--BREADCRUMB-->
<div class="breadbutton mb-4">
    <ul class="breadcrumb text-xs pt-2">
        <li>
            <a href="{% url 'packages' %}" class="text-myblue-primary">Package List/</a>
            <a href="#" class="text-myblue-highlight"> Add Package</a>
        </li>
    </ul>
</div>

<!--Modal-->
<div id="duplicateModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <p>Error!</p>
        <p id="error_type">None.</p>
        <p id="error_message">Empty.</p>
        <button onclick="closeModal()" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">OK</button>
    </div>
</div>

<div class="w-full h-hug p-8 pt-6 bg-white rounded-lg shadow-lg inline-flex flex-col justify-start items-start gap-2 overflow-hidden">
    
    <div class="w-full self-stretch flex-col justify-start items-start gap-2.5">
        
        <!-- Header -->
        <div class="self-stretch py-2 border-b border-black/20 justify-center items-center gap-1.5">
            <div class="flex-1 justify-center text-blue-900 text-lg font-semibold">Add Package</div>
        </div>

        <!-- Form Body -->
        <form id="addPackageform" class="w-full flex flex-col gap-2.5" method="POST" action="{%url 'add_package' %}" class="gap-2.5">{% csrf_token %} <!--TO BACKEND: CHECK THIS-->

            <!--TEST PACKAGE DETAILS-->
            <div class="py-2 mt-4 text-left text-base font-semibold text-blue-900 uppercase">Test Package Details</div>

            <div class="grid gap-2.5 sm:grid-cols-4 mb-4"> <!--TO BACKEND: don't forget to fill in for=""-->
                <div>
                    <label for="package_name" class="block mb-2 text-left text-sm font-medium text-gray-500 uppercase">Package Name *</label>
                    <input type="text" name="package_name" id="package_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="e.g. Dengue Package" required pattern="^[A-Za-z\s]+$" title="Use letters and spaces only.">
                </div>
                <div> <!--TO FRONTEND: adjust price width to be smaller than the other fields plsplspls-->
                    <label for="price" class="block mb-2 text-left text-sm font-medium text-gray-500 uppercase">Price *</label>
                    <input type="text" name="price" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="00" required="" pattern="^\d+(\.\d{2})?$" title="Enter a valid price with exactly 2 decimal places (e.g., 12 or 12.34)">
                </div>
            </div>

            <!--TEMPLATE-->
            <div class="mt-4 text-left text-base font-semibold text-blue-900 uppercase"> Add Components</div>

            <!-- search bar -->
            <input type="text" placeholder="Search Package Name"
            class="w-full h-8 text-xs border border-gray-300 rounded-lg text-myblue-primary">

            <div class="mt-2 space-y-2">
                {% for t in components%}
                <label class="flex items-center space-x-2 gap-1">
                    <input type="checkbox" name="addComponentCheckbox" id="addComponentCheckbox" 
                    class="package-checkbox border border-blue-900 rounded-sm"
                    value={{t.component_id}}>{{t.test_name}}
                </label>
                {% endfor %}
            </div>

            

            <!--checkboxes-->
            <div class="mt-2 space-y-2">
                {% for pa in test_packages %}
                <label class="flex items-center space-x-2 gap-1">
                    <input type="checkbox" name="packages" value="{{ pa.pk }}" 
                    class="package-checkbox border border-blue-900 rounded-sm"
                    data-name="{{ pa.package_name }}" 
                    data-price="{{ pa.package_price }}" 
                    data-components='{{ pa.components|safe }}' >
                    <span class="text-myblue-primary"> {{ pa.package_name }}</span>
                </label>
                {% endfor %}
            </div>


            <div class="grid gap-2.5 mb-4 sm:grid-cols-2">
                <div>
                    <!--TO FRONTEND: paayos ng border color and hover-->
                    <a href="{% url 'packages' %}" class="w-full justify-center text-blue-900 inline-flex items-center border border-myblue-borderPrimary bg-myblue-secondary font-medium rounded-lg text-sm px-5 py-2.5 text-center no-underline">
                        Cancel
                    </a>
                </div>
                <div>
                    <button type="submit" name="saveAddPackage" id="saveAddPackage" class="w-full justify-center text-white inline-flex items-center bg-myblue-primary border border-myblue-borderPrimary font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                        Save
                    </button>
                </div>
            </div>
        </form> 
    </div>
</div>

<script>

    const addPackageform = document.getElementById('addPackageform');
    const modal = document.getElementById('duplicateModal');
    console.log(modal)   

    if (addPackageform) {
        addPackageform.addEventListener('submit', async (e) => {
        e.preventDefault();
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const formData = new FormData(addPackageform);

        const checked = document.querySelectorAll('input[name="addComponentCheckbox"]:checked');
        
        if (checked.length === 0) {
            modal.classList.remove('hidden');
            document.getElementById("error_type").innerHTML = 'No package selected.';
            document.getElementById("error_message").innerHTML = 'Please select a package.';
        } else{
            try {
                const response = await fetch("{% url 'add_package' %}", {
                    method: 'POST',
                    headers: {
                    'X-CSRFToken': csrfToken,
                    },
                    body: formData,
                });

                const result = await response.json();
                console.log(result); 

                if (result.status === 'duplicate') {
                    modal.classList.remove('hidden');
                    document.getElementById("error_type").innerHTML = 'Duplicate Package Name Detected.';
                    document.getElementById("error_message").innerHTML = 'Please change the package name';
                    console.log(result.status)                        
                } else if (result.status === 'success') {
                    window.location.href = result.redirect_url;
                    console.log(result.status)

                } else {
                    alert("Unexpected response.");
                }

            } catch (error) {
                console.error('Error:', error);
            }
        }
        });
    };
    function closeModal() {
        modal.classList.add('hidden');
    }
</script>

{% endblock content %}

{% block styles %}
<style>
    ul.breadcrumb li {
        display: inline;
        font-size: 12px;
    }
    
    ul.breadcrumb li+li:before {
        color: black;
        content: "/\00a0";
    }

    ul.breadcrumb .current {
        color: #00BAFF;
    }

    .breadbutton{
        display: flex;
        justify-content: space-between;
    }
</style>
{% endblock styles %}