{% extends 'labreqsys/base.html' %}
{% load static tailwind_tags %}

{% block content %}
<div class="flex-1 p-3">
    <div class="w-full h-hug p-8 mt-4 bg-white rounded-m shadow inline-flex flex-col justify-start items-start gap-2 overflow-hidden">

        <!-- Patient Information Section -->
        <div class="self-stretch inline-flex flex-col justify-start items-start gap-2.5">
            <!--Section title: Patient Information-->
            <div class="self-stretch py-2.5 px-2.5 border-b border-black/20 inline-flex justify-center items-center gap-1.5">
                <div class="flex-1 h-9 justify-center text-blue-900 text-mm font-semibold">Patient Information</div>
            </div>
    
            <!--Section Content-->
            <div class="self-stretch inline-flex justify-start items-start gap-4"> <!--both columns-->
                <div class="inline-flex flex-col justify-start items-start gap-1.5"> <!--indiv column-->
    
                    <div class="inline-flex justify-start items-center gap-1.5">
                        <div class="w-[201px] py-2.5 px-2.5 flex justify-start items-center gap-1.5">
                            <div class="w-28 text-blue-900 text-xs font-semibold"> Patient ID </div>
                        </div>
                        <div class="flex px-6 py-1 bg-gray-100 justify-start rounded-3xl flex items-center gap-1.5">
                            <div class="justify-center text-black text-xs">{{patient.patient_id}}</div>
                        </div>
                    </div>
                    
                    <div class="inline-flex justify-start items-start gap-1.5"> <!--info row-->
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-28 justify-center text-xs font-semibold text-blue-900 ">Patient Name</div>
                        </div>
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-7 justify-center text-xs text-black font-normal">{{patient_name}}</div>
                        </div>
                    </div>
    
                    <div class="inline-flex justify-start items-start gap-1.5"> <!--info row-->
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-28 justify-center text-xs font-semibold text-blue-900 ">Sex</div>
                        </div>
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-7 justify-center text-xs text-black font-normal">{{patient.sex}}</div>
                        </div>
                    </div>
    
                    <div class="inline-flex justify-start items-start gap-1.5"> <!--info row-->
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-28 justify-center text-xs font-semibold text-blue-900 ">Civil Status</div>
                        </div>
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-7 justify-center text-xs text-black font-normal">{{patient.civil_status}}</div>
                        </div>
                    </div>
    
                    <div class="inline-flex justify-start items-start gap-1.5"> <!--info row-->
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-28 justify-center text-xs font-semibold text-blue-900 ">Age</div>
                        </div>
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-7 justify-center text-xs text-black font-normal">{{patient_age}}</div>
                        </div>
                    </div>
    
                    <div class="inline-flex justify-start items-start gap-1.5"> <!--info row-->
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-28 justify-center text-xs font-semibold text-blue-900 ">Birthday</div>
                        </div>
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-7 justify-center text-xs text-black font-normal">{{patient.birthdate}}</div>
                        </div>
                    </div>
    
                    
    
                </div>
    
                <!--COLUMN 2-->
                <div class="inline-flex flex-col justify-start items-start gap-1.5"> <!--indiv column: Column 2-->
    
                    <div class="inline-flex justify-start items-start gap-1.5"> <!--info row-->
                        <div class="w-7 flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-28 justify-center text-xs font-semibold text-blue-900 ">Date Requested</div>
                        </div>
                        <div class="px-6 py-1 bg-gray-100 justify-start rounded-3xl flex items-center gap-1.5"> <!--indiv info-->
                            <div class="w-28 justify-center text-xs text-black font-normal">{{request.date_requested}}</div>
                        </div>
                    </div>
    
                    <div class="inline-flex justify-start items-start gap-1.5"> <!--info row-->
                        <div class="w-7 flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-28 justify-center text-xs font-semibold text-blue-900 ">Mobile No.</div>
                        </div>
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-7 justify-center text-xs text-black font-normal">{{patient.mobile_num}}</div>
                        </div>
                    </div>
    
                    <div class="inline-flex justify-start items-start gap-1.5"> <!--info row-->
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-28 justify-center text-xs font-semibold text-blue-900 ">Landline No.</div>
                        </div>
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-7 justify-center text-xs text-black font-normal">{{patient.landline_num}}</div>
                        </div>
                    </div>
    
                    <div class="inline-flex justify-start items-start gap-1.5"> <!--info row-->
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-28 justify-center text-xs font-semibold text-blue-900 ">Email</div>
                        </div>
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-7 justify-center text-xs text-black font-normal">{{patient.email}}</div>
                        </div>
                    </div>
    
                    <div class="inline-flex justify-start items-start gap-1.5"> <!--info row-->
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-28 justify-center text-xs font-semibold text-blue-900 ">Address</div>
                        </div>
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-7 justify-center text-xs text-black font-normal">{{patient_address}}</div>
                        </div>
                    </div>
    
                    <div class="inline-flex justify-start items-start gap-1.5"> <!--info row-->
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-28 justify-center text-xs font-semibold text-blue-900 ">Physician</div>
                        </div>
                        <div class="flex-1 px-2.5 flex justify-start items-center gap-1.5"> <!--indiv info-->
                            <div class="w-7 justify-center text-xs text-black font-normal">{{request.physician}}</div>
                        </div>
                    </div>
    
                </div>
            
            </div>
        </div>
    
    
        <!-- Lab Results Section -->
        <div class="self-stretch inline-flex flex-col justify-start items-start gap-2.5">
            <!--Section title: Lab Results-->
            <div class="self-stretch py-2.5 px-2.5 border-b border-black/20 inline-flex justify-center items-center gap-1.5">
                <div class="flex-1 h-9 justify-center text-blue-900 text-mm font-semibold">Add Laboratory Results</div>
            </div>
            <form id="resultform" method="POST" action="{% url 'submit_labresults' line_item_id=line_item.line_item_id %}">
                {% csrf_token %}
                <div class="text-center text-base font-semibold text-blue-900 uppercase mb-2">{{test.test_name}}</div>

                {% for section_data in sections %}
                <div class="grid gap-2.5 mb-4 sm:grid-cols-{{section_data.field_count}}">
                    {% for f in section_data.fields %}
                    <div>
                        <label for="test_code" class="block mb-2 text-center text-sm font-medium text-gray-500">{{ f.label_name }}</label>
                        {% if f.field_type == "Label" %}
                            <div class="text-center">{{ f.field_value }}</div>
                        {% elif f.field_type == "Text" %}
                            <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" name="{{ f.label_name }}" value="{{ f.saved_value|default_if_none:'' }}">
                        {% elif f.field_type == "Number" %}
                            <input type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" name="{{ f.label_name }}" value="{{ f.saved_value|default_if_none:'' }}">
                        {% elif f.field_type == "Image" %}
                            <input type="url" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" name="{{ f.label_name }}" placeholder="Enter image URL" value="{{ f.saved_value|default_if_none:'' }}">
                        {% else %}
                            <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" name="{{ f.label_name }}" value="{{ f.saved_value|default_if_none:'' }}">
                        {% endif %}
                    </div>            
                    {% endfor %}
                </div>
                {% endfor %}
    
                <!--Section title: Add Signature-->
                <div class="w-full self-stretch py-2.5 px-2.5 border-b border-black/20 inline-flex justify-center items-center gap-1.5">
                    <div class="flex-1 h-9 justify-center text-blue-900 text-mm font-semibold">Add Signature</div>
                </div>
    
                <div class="mt-2 justify-center flex gap-5 px-2">
                    <div>  
                        <select id="lab_tech_1" name="lab_tech_1" onchange="updateLabTechInfo('lab_tech_1')" required
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                        <option value="">Lab Tech Name</option>
                        {% for tech in lab_technicians %}
                            <option value="{{ tech.lab_tech_id }}" data-role="{{ tech.title }}" data-license="{{ tech.license_num }}">
                                {{ tech.first_name }} {{ tech.last_name }}
                            </option>
                        {% endfor %}
                        </select>
    
                        <p id="lab_tech_1_info" class="text-base text-blue-900 text-center p-2">Role <br> License Number</p>
                    </div>
                    
                    <div>
                        <select id="lab_tech_2" name="lab_tech_2" onchange="updateLabTechInfo('lab_tech_2')" required
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                            <option value="">Lab Tech Name</option>
                            {% for tech in lab_technicians %}
                                <option value="{{ tech.lab_tech_id }}" data-role="{{ tech.title }}" data-license="{{ tech.license_num }}">
                                    {{ tech.first_name }} {{ tech.last_name }}
                                </option>
                            {% endfor %}
                        </select>
                        <p id="lab_tech_2_info" class="text-base text-blue-900 text-center p-2">Role <br> License Number</p>
                    </div>   
                </div>
                
    
                <input type="hidden" name="submission_type" id="submission_type" value="">
                <!-- Modal Trigger Button -->
                <div class="grid gap-2.5 mb-4 sm:grid-cols-2">
                    <button type="button" onclick="saveModal()"
                    class="w-full justify-center text-blue-900 inline-flex items-center border border-blue-900 bg-blue-555 bg-opacity-10 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center no-underline">
                    Save
                    </button>
                    <button type="button" onclick="submitModal()"
                    class="w-full justify-center text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                        Submit
                    </button>
                </div>

                <div id="modalBackdrop" class="fixed inset-0 bg-black bg-opacity-50 hidden z-50"></div>
        
                <!--NEED TO EDIT HUHU BITCH DOESNT WANNA STAY IN THE MIDDLE-->
                <!-- Save Modal -->
                <div id="saveModal" tabindex="-1" aria-hidden="true" class="modal overflow-x-hidden fixed inset-0 flex z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
                    <div class="relative p-4 w-full max-w-6xl h-full md:h-aut w-auto">
                        <div class="relative p-4 bg-white rounded-lg shadow sm:p-5">
                            <!-- Modal header -->
                            <div class="flex justify-between items-center rounded-t sm:mb-5">
                                <h3 class="text-mm font-semibold text-blue-900">
                                    Save Results?
                                </h3>
                            </div>
                            <p class="block mb-2 text-left text-sm font-medium text-gray-500">You may continue editing this form later.</p>
                            <div class="modal-buttons">
                                <button class="btn-confirm" onclick="submitForm()">Yes</button>
                                <button class="btn-cancel" onclick="closeSaveModal()">No</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            
                <!-- Confirmation Modal -->
                <div id="confirmModal" aria-hidden="true" class="modal">
                    <div class="modal-content" style="background-color: white; width: 500px; margin-top: 400px; margin-left: 800px; padding: 50px;">
                        <h2>Submit results?</h2>
                        <p>You cannot edit this form upon submission.</p>
                        <div class="modal-buttons">
                            <button class="btn-confirm" onclick="submitForm()">Yes</button>
                            <button class="btn-cancel" onclick="closeConfirmModal()">No</button>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>

        
    </div>
</div>


    <script>
        let submissionType = "";
        
        function updateLabTechInfo(selectId) {
            var select = document.getElementById(selectId);
            var selectedOption = select.options[select.selectedIndex];
            var role = selectedOption.getAttribute("data-role");
            var license = selectedOption.getAttribute("data-license");

            var infoElement = document.getElementById(selectId + "_info");
            if (role && license) {
                infoElement.innerHTML = role + "<br>" + license;
            } else {
                infoElement.innerHTML = "Role <br> License Number";
            }
        }

        function submitModal() {
            submissionType = "submit";
            document.getElementById('confirmModal').style.display = 'block';
        }

        function saveModal() {
            submissionType = "save";
            document.getElementById('saveModal').style.display = 'block';
        }

        function closeConfirmModal() {
            document.getElementById('confirmModal').style.display = 'none';
        }

        function closeSaveModal() {
            document.getElementById('saveModal').style.display = 'none';
        }

        function submitForm() {
            document.getElementById('submission_type').value = submissionType;
            document.getElementById('resultform').submit();
        }

        window.onclick = function(event) {
            const modal = document.getElementById('confirmModal');
            if (event.target === modal) {
                closeConfirmModal();
            }
            const modalc = document.getElementById('saveModal');
            if (event.target === modalc) {
                closeSaveModal();
            }
        }
    </script>
{% endblock content %}

{% block styles %}
{% endblock styles %}