{% extends 'labreqsys/base.html' %}
{% load static tailwind_tags %}

{% block content %}
<form id="form" method="POST" action="{% url 'add_patient' %}">{% csrf_token %}
<div> <h1> Patient Information </h1>
    <label for="last_name"> Last Name: </label>
        <input type="text" id="last_name" name="last_name">
        
    <label for="first_name"> First Name: </label>
        <input type="text" id="first_name" name="first_name">

    <label for="middle_initial"> Middle Initial: </label>
        <input type="text" id="middle_initial" name="middle_initial">
        
    <br>
    <label for="suffix"> Suffix: </label>
        <input type="text" id="suffix" name="suffix">
        
    <label for="sex"> Sex: </label>
        <select id="sex" name="sex">
            <option value="" disabled selected hidden> Choose...</option>
            <option value=Male> Male </option>
            <option value=Female> Female </option>
            <option value=Other> Other </option>
        </select>

    <label for="Civil Status"> Civil Status: </label>
        <select id="civil_status" name="civil_status">
            <option value="" disabled selected hidden> Choose...</option>
            <option value=Single> Single </option>
            <option value=Married> Married </option>
            <option value=Widowed> Widowed </option>
            <option value=Other> Other </option>
        </select>

    <label for="birthdate"> Birthday: </label>
        <input type="date" id="birthdate" name="birthdate">

    <br>
    <label for="age"> Age: </label>
        <input type="text" id="age" name="age">

    <label for="mobile_num"> Mobile No: </label>
        <input type="text" id="mobile_num" name="mobile_num"> 

    <label for="landline_num"> Landline No: </label>
        <input type="text" id="landline_num" name="landline_num">
    
    <br>
    <label for="email"> Email: </label>
        <input type="text" id="email" name="email">   
</div>

<div> <h1> Address </h1>
    <label for="house_num"> House No: </label>
        <input type="text" id="house_num" name="house_num">
        
    <label for="street"> Street Name: </label>
        <input type="text" id="street" name="street">

    <label for="subdivision"> Village/Subdivision: </label>
        <input type="text" id="subdivision" name="subdivision">
        
    <label for="baranggay"> Barangay: </label>
        <input type="text" id="baranggay" name="baranggay">
        
    <label for="province"> Province: </label>
        <input type="text" id="province" name="province">

    <label for="city"> City: </label>
        <input type="text" id="city" name="city">

    <label for="zip_code"> Zip Code: </label>
        <input type="text" id="zip_code" name="zip_code">
</div>

<div> <h1> ID </h1>
    <label for="pwd_id_num"> PWD: </label>
        <input type="text" id="pwd_id_num" name="pwd_id_num">
    <label for="senior_id_num"> SENIOR: </label>
        <input type="text" id="senior_id_num" name="senior_id_num">
</div>
<input type="submit" id="submit">
</form>
    

{% endblock content %}

{% block styles %}
<style>
    .tab {
        display: none;
    }
    .tab.active {
        display: block;
    }
    .tabs {
        display: flex;
        gap: 10px;
    }
    .tabs button {
        padding: 10px;
        cursor: pointer;
    }
    .trash-icon {
        width: 20px;
        cursor: pointer;
    }
    .container {
        display: flex;
        flex-direction: row;
    }
    ul.breadcrumb li {
        display: inline;
        font-size: 12px;
    }
    
    ul.breadcrumb li+li:before {
        color: black;
        content: "/\00a0";
    }

    ul.breadcrumb .current {
        color: #00BAFF;
    }

    .breadbutton{
        display: flex;
        justify-content: space-between;
    }
</style>
{% endblock styles %}