{% extends 'labreqsys/base.html' %}
{% load static tailwind_tags %}

{% block content %}
<div class="breadbutton my-4">
    <ul class="breadcrumb">
        <li><a href="{% url 'testComponents' %}">Test Component List</a></li>
        <li><a href="#" class="current">Add Test Component</a></li>
    </ul>
</div>



<div class="w-full h-hug p-8 pt-6 bg-white rounded-m shadow inline-flex flex-col justify-start items-start gap-2 overflow-hidden">
    <!-- Add Test Component Header -->
    <div class="flex justify-between items-center rounded-t border-b sm:mb-4">
        <h1 class="text-mm font-semibold text-blue-900">
            Add Test Component
        </h1>
    </div>
    <div class=""> 
        <!-- Form Body -->
        <form id="form" method="POST" action="{% url 'create_testcomponent' %}" class="gap-2.5">{% csrf_token %}

            <!--TEST COMPONENT DETAILS-->
            <div class="text-left text-m font-semibold text-blue-900 mb-2 mt-2 uppercase">Test Component Details</div>

            <div class="grid gap-2.5 mb-3 sm:grid-cols-4">
                <div>
                    <label for="test_code" class="block mb-2 text-left text-xs font-medium text-black-600 uppercase">Test Code *</label>
                    <input type="text" value="{{ form_data.test_code }}" name="test_code" id="test_code" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Click and Type Test Code" required="" pattern="^[A-Za-z0-9\s]+$" title="Use letters, numbers, and spaces only.">
                </div>
                <div>
                    <label for="test_name" class="block mb-2 text-left text-xs font-medium text-black-600 uppercase">Full Test Name *</label>
                    <input type="text" value="{{ form_data.test_name }}" name="test_name" id="test_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Click and Type Full Test Name" required="" pattern="^[A-Za-z0-9\s]+$" title="Use letters, numbers, and spaces only.">
                </div>
                <div>
                    <label for="category" class="block mb-2 text-left text-xs font-medium text-black-600 uppercase">Category *</label>
                    <input type="text" value="{{ form_data.category }}" name="category" id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Click and Type Category" required="" pattern="^[A-Za-z0-9\s]+$" title="Use letters, numbers, and spaces only.">
                </div>
                <div> <!--TO FRONTEND: adjust price width to be smaller than the other fields plsplspls-->
                    <label for="price" class="block mb-2 text-left text-xs font-medium text-black-600 uppercase">Price *</label>
                    <input type="text" value="{{ form_data.price }}"name="price" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="00" required="" pattern="^\d+(\.\d{2})?$" title="Enter a valid price with exactly 2 decimal places (e.g., 12 or 12.34)">
                </div>
            </div>
            {% if show_code_warning == 'yes' %}
                <div class="text-form-warning">*A test component with the test code above already exists.</div>
            {% endif %}
            <!--TEMPLATE-->
            <div class="text-left text-m font-semibold text-blue-900 uppercase mb-2 mt-6">Template</div>
            {% if template_status == "absent" %}
                <div class="grid gap-2.5 mb-4"> <!--TO FRONTEND: paayos ng hover-->
                    {% if show_warning == 'yes' %}
                    <div class="text-form-warning">*Please make a template for the test component</div>
                    {% endif %}
                    <a href="{% url 'add_template' %}" onclick="storeFormToSession()" class="w-full text-sm font-semibold justify-center text-blue-900 inline-flex items-center bg-blue-555 bg-opacity-10 hover:bg-blue-900-10 rounded-lg text-sm px-5 py-2.5 text-center no-underline" style="max-width: 15%;"> <!--TO FRONTEND: BUTTON WIDTH IS HARDCODED-->
                        <svg class="w-auto h-auto " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
                        </svg>
                        Template
                    </a>
                </div>
            {% elif template_status == "present"%}
                <div class="grid gap-2.5 mb-4"> <!--TO FRONTEND: paayos ng hover-->
                    <a href="{% url 'edit_template_details' %}" onclick="storeFormToSession()" class="w-full justify-center text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center no-underline" style="max-width: 17%;"> <!--TO FRONTEND: BUTTON WIDTH IS HARDCODED-->
                        Edit Template
                    </a>
                </div>
            {% endif %}
            <div class="grid gap-2.5 mb-4 sm:grid-cols-2">
                <div>
                    <!--TO FRONTEND: paayos ng border color and hover-->
                    <a href="{% url 'testComponents' %}" class="w-full justify-center text-blue-900 inline-flex items-center border border-blue-900 bg-blue-900-10 bg-opacity-10 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center no-underline">
                        Cancel
                    </a>
                </div>
                <div>
                    <button type="submit" form="form" class="w-full justify-center text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                        Save
                    </button>
                </div>
            </div>

        </form> 
    </div>   
</div>

<script>
    function storeFormToSession() {
        const data = {
            test_code: document.getElementById('test_code').value,
            test_name: document.getElementById('test_name').value,
            category: document.getElementById('category').value,
            price: document.getElementById('price').value,
        };
        fetch("{% url 'store_testcomponent_session' %}", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify(data)
        });
    }
</script>
    

{% endblock content %}

{% block styles %}
<style>
    ul.breadcrumb li {
        display: inline;
        font-size: 12px;
    }
    
    ul.breadcrumb li+li:before {
        color: black;
        content: "/\00a0";
    }

    ul.breadcrumb .current {
        color: #00BAFF;
    }

    .breadbutton{
        display: flex;
        justify-content: space-between;
    }
</style>
{% endblock styles %}