{% load static tailwind_tags %} <!--make sure you have a tailwind tag here-->
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Patient record</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %} <!--make sure you have a tailwind tag here-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

	</head>

    <body class="bg-gray-100">


            <!--Sidebar with Navbar-->
        <nav class="fixed top-0 z-50 w-full bg-white shadow-lg">
            <div class="px-3 py-3 lg:px-5 lg:pl-3">
            <div class="flex items-center justify-between">
                <div class="flex items-center justify-start rtl:justify-end">
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                    </svg>
                </button>
                <!--LOGO-->
                <a href="/" class="flex ms-2 md:me-24">
                    <img src="{% static 'images/drmed_full.png' %}" class="h-8 me-3" alt="DRMed Logo" />
                </a>
                </div>
                <div class="flex items-center">
                    <div class="flex items-center ms-3">
                    <div>
                        <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                        <span class="sr-only">Open user menu</span>
                        <!--user profile pic-->
                        <img class="w-8 h-8 rounded-full" src="{% static 'images/receptionProfilePic.png' %}" alt="user photo">
                        </button>
                    </div>

                    <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-sm shadow-sm dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
                        <div class="px-4 py-3" role="none">
                        <p class="text-sm text-gray-900 dark:text-white" role="none">
                            Reception
                        </p>
                        </div>
                        <ul class="py-1" role="none">
                        <li>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Sign out</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </nav>
        
        <!--sidebar-->
        <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 bg-gradient-to-tr from-blue-500  to-blue-900 transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
            <div class="h-full px-3 pb-4 pt-1 overflow-y-auto bg-gradient-to-tr from-blue-500  to-blue-900  ">
                <ul class="space-y-2 font-medium">
                
                    <li>
                        <a href="#" class="flex text-xs items-center p-2 text-white rounded-lg dark:text-white group">
                            <span class="ms-3">RECORDS</span>
                        </a>
                    </li>
                    <li>
                    <a href="{% url 'patientList' %}" class="flex items-center p-2 w-64 text-white rounded-lg dark:text-white hover:dark:text-blue-900 hover:bg-blue-300  dark:hover:bg-blue-300 active:bg-blue-300 active:text-blue-900 group">
                        <span class="ms-5">Patient List</span>
                    </a>
                    </li>
                    <li>
                        <button type="button" class="flex items-center w-64 p-2 text-base transition duration-100 group  text-white rounded-lg dark:text-white hover:dark:text-blue-900 hover:bg-blue-300  dark:hover:bg-blue-300 active:bg-blue-300 active:text-blue-900" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                              <span class="ms-5 text-left rtl:text-right whitespace-nowrap">Lab Requests</span>
                              <svg class="w-3 h-3 ms-5 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                              </svg>
                        </button>
                        <ul id="dropdown-example" class="hidden py-2 space-y-2">
                              <li>
                                 <a href="#" class=" ms-5 flex items-center w-full p-2  transition duration-75 rounded-lg pl-5 group text-white dark:text-white hover:dark:text-blue-900 hover:bg-blue-300  dark:hover:bg-blue-300 active:bg-blue-300 active:text-blue-900">All Requests</a>
                              </li>
                              <li>
                                 <a href="#" class=" ms-5 flex items-center w-full p-2  transition duration-75 rounded-lg pl-5 group text-white dark:text-white hover:dark:text-blue-900 hover:bg-blue-300  dark:hover:bg-blue-300 active:bg-blue-300 active:text-blue-900">Not Started</a>
                              </li>
                              <li>
                                 <a href="#" class=" ms-5 flex items-center w-full p-2 transition duration-75 rounded-lg pl-5 group text-white dark:text-white hover:dark:text-blue-900 hover:bg-blue-300  dark:hover:bg-blue-300 active:bg-blue-300 active:text-blue-900">In Progress</a>
                              </li>
                              <li>
                                <a href="#" class=" ms-5 flex items-center w-full p-2 transition duration-75 rounded-lg pl-5 group text-white dark:text-white hover:dark:text-blue-900 hover:bg-blue-300  dark:hover:bg-blue-300 active:bg-blue-300 active:text-blue-900">Completed</a>
                             </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="page_content">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
    
	
</html>
<style>
    .page_content{
        padding-top: 5%;
        padding-left: 20%;
        padding-right: 5%;
    }
</style>

<script>
    document.getElementById("patientRecordLink").addEventListener("click", function() {
        this.classList.add("bg-blue-300", "text-blue-900");
    });
</script>