
{# For form field styling with add_class filter (see README) #}
{% load widget_tweaks %}

{% load static tailwind_tags %} <!--make sure you have a tailwind tag here-->
{% load user_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Patient record</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %} <!--make sure you have a tailwind tag here-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
        <script src="{% static 'flowbite/flowbite.min.js' %}"></script>
        <link href="styles.css" rel="stylesheet">
	</head>

    <body class="h-screen bg-gradient-to-b from-gray-50 to-gray-100"> 

        <!-- LOGO (Centered) -->
        <div class="flex justify-center mt-40">
            <a href="/" class="inline-flex">
                <img src="{% static 'images/drmed_full.png' %}" class="h-10" alt="DRMed Logo" />
            </a>
        </div>

        <div class="relative p-4 w-full max-w-6xl h-full md:h-auto mx-auto mt-5">
            <div class="relative p-6 bg-white rounded-lg  sm:p-6 max-w-md mx-auto shadow-lg">
                
                <div class="flex justify-between items-center rounded-t">
                    <h3 class="text-lg font-semibold text-blue-900">
                        Hello there!
                    </h3>
                </div>
                <div class="flex justify-between items-center pb-2 pt-2 border-b sm:mb-5">
                    <div class="text-xs text-gray-500">New user? Sign up using the username and password given to you.</div>
                </div>
                <form method="post" class="gap-2.5">{% csrf_token %}
                    <div class="grid gap-2.5 mb-4">
                        {% for field in form %}
                        <div>
                            <label class="block mb-2 text-left text-sm font-medium text-gray-500">{{ field.label }}</label>
                            {{ field|add_class:'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5' }}
                            {% if field.errors %}
                                <p class="text-red-600 text-xs mt-1">{{ field.errors|striptags }}</p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="w-full justify-center text-white inline-flex items-center bg-myblue-primary font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                        Login
                    </button>
                    {% if form.non_field_errors %}
                        <div class="mt-4 text-red-600 text-center text-sm">{{ form.non_field_errors }} If errors still persist, please contact admin</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </body>
	
</html>


<script>
    document.getElementById("patientRecordLink").addEventListener("click", function() {
        this.classList.add("bg-blue-300", "text-blue-900");
    });
</script>
