{% extends 'labreqsys/base.html' %}
{% load static tailwind_tags %}

{% block content %}
<div class = "PatientInfo">
    <h1>Packages</h1>
    {% for p in packages %}
        <p>{{ p.package_name }}</p>
        <p>- {{ p.package_price}}
    {% endfor  %}

    <h1>Components</h1>
    {% for c in components %}
        <p>{{ c.test_name }}</p>
        <p> - {{ c.component_price }}</p>
    {% endfor  %}

    

</div>

<!-- 022225 - Mads: added this to show total ! -->
<div><p> Total: {{ total }} </p></div>

{% endblock content %}

{% block styles %}
<!--insert styles here-->
{% endblock styles %}