{% extends 'labreqsys/base.html' %}
{% load static tailwind_tags %}

{% block content %}
<div class="breadbutton my-4">
    <ul class="breadcrumb">
        <li><a href="{% url 'testComponents' %}">Test Component List</a></li>
        <li><a href="#" class="current">View Test Component</a></li>
    </ul>
</div>

<div class="w-full h-hug p-8 pt-6 bg-white rounded-m shadow inline-flex flex-col justify-start items-start gap-2 overflow-hidden">
    <div class="flex justify-between items-center rounded-t border-b sm:mb-4">
        <h1 class="text-mm font-semibold text-blue-900">
            View Test Component
        </h1>
    </div>
    <div class="">
        <div class="gap-2.5">
            <div class="text-left text-m font-semibold text-blue-900 mb-2 mt-2 uppercase">Test Component Details</div>

            <div class="grid gap-2.5 m-4 sm:grid-cols-4">
                <div>
                    <div class="block mb-2 text-left text-xs font-medium text-black-600 uppercase">Full Code</div>
                    <div class="text-sm text-gray-500 block w-full p-2.5 m-3">{{ component.test_code }}</div>
                </div>
                <div>
                    <div class="block mb-2 text-left text-xs font-medium text-black-600 uppercase">Full Test Name</div>
                    <div class="text-sm text-gray-500 block w-full p-2.5 m-3">{{ component.test_name }}</div>
                </div>
                <div>
                    <div class="block mb-2 text-left text-xs font-medium text-black-600 uppercase">Category</div>
                    <div class="text-sm text-gray-500 block w-full p-2.5 m-3">{{ component.category }}</div>
                </div>
                <div>
                    <div class="block mb-2 text-left text-xs font-medium text-black-600 uppercase">Price</div>
                    <div class="text-sm text-gray-500 block w-full p-2.5 m-3">₱{{ component.component_price }}</div>
                </div>
            </div>

            <div class="text-left text-m font-semibold text-blue-900 uppercase mb-2 mt-6">Template</div>
            <div class="grid gap-2.5 m-4"> 
                <button type="button" id="createTemplatebutton" data-modal-target="templateModal" data-modal-toggle="templateModal" class="w-full justify-center text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center no-underline" style="max-width: 17%;">
                    View Template
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="templateModal" tabindex="-1" aria-hidden="true" class="fixed top-0 z-50 hidden h-full overflow-y-auto overflow-x-hidden">
    <div class="relative p-4 w-full max-w-4xl h-full md:h-auto bg-white mx-auto mt-10 rounded-lg shadow-lg">
        <div class="flex justify-center border-b border-black/20 ">
            <!-- Modal Header -->
            <div class="self-stretch py-2.5 px-2.5inline-flex justify-center items-center gap-1.5">
                <div class="flex-1 h-9 justify-center text-blue-900 text-mm font-semibold">Add Laboratory Results</div>
            </div>
            <!-- Close button -->
            <button type="button" data-modal-hide="templateModal" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>
        
        <div>
            <div class="text-center text-base font-semibold text-blue-900 uppercase mb-2">{{ component.test_name }}</div>

            {% for section_data in sections %}
            <div class="grid gap-2.5 mb-4 sm:grid-cols-{{ section_data.field_count }}">
                {% for f in section_data.fields %}
                <div>
                    <label class="block mb-2 text-center text-sm font-medium text-gray-500">{{ f.label_name }}</label>
                    {% if f.field_type == "Label" %}
                        <div class="text-center">{{ f.field_value }}</div>
                    {% elif f.field_type == "Text" %}
                        <input disabled type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" name="{{ f.label_name }}" value="{{ f.saved_value|default_if_none:'' }}">
                    {% elif f.field_type == "Number" %}
                        <input disabled type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" name="{{ f.label_name }}" value="{{ f.saved_value|default_if_none:'' }}">
                    {% elif f.field_type == "Image" %}
                        <input disabled type="url" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" name="{{ f.label_name }}" placeholder="Enter image URL" value="{{ f.saved_value|default_if_none:'' }}">
                    {% else %}
                        <input disabled type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" name="{{ f.label_name }}" value="{{ f.saved_value|default_if_none:'' }}">
                    {% endif %}
                </div>            
                {% endfor %}
            </div>
            {% endfor %}

            <!-- Signature Section -->
            <div class="w-full self-stretch py-2.5 px-2.5 border-b border-black/20 inline-flex justify-center items-center gap-1.5">
                <div class="flex-1 h-9 justify-center text-blue-900 text-mm font-semibold">Add Signature</div>
            </div>

            <div class="mt-2 justify-center flex gap-5 px-2">
                <div>  
                    <select disabled id="lab_tech_1" name="lab_tech_1" onchange="updateLabTechInfo('lab_tech_1')" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
                        <option value="">Lab Tech Name</option>
                        {% for tech in lab_technicians %}
                        <option value="{{ tech.lab_tech_id }}" data-role="{{ tech.title }}" data-license="{{ tech.license_num }}">
                            {{ tech.first_name }} {{ tech.last_name }}
                        </option>
                        {% endfor %}
                    </select>
                    <p id="lab_tech_1_info" class="text-base text-blue-900 text-center p-2">Role <br> License Number</p>
                </div>
                
                <div>
                    <select disabled id="lab_tech_2" name="lab_tech_2" onchange="updateLabTechInfo('lab_tech_2')" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
                        <option value="">Lab Tech Name</option>
                        {% for tech in lab_technicians %}
                        <option value="{{ tech.lab_tech_id }}" data-role="{{ tech.title }}" data-license="{{ tech.license_num }}">
                            {{ tech.first_name }} {{ tech.last_name }}
                        </option>
                        {% endfor %}
                    </select>
                    <p id="lab_tech_2_info" class="text-base text-blue-900 text-center p-2">Role <br> License Number</p>
                </div>   
            </div>

            <input type="hidden" name="submission_type" id="submission_type" value="">
            <div class="grid gap-2.5 mb-4 sm:grid-cols-2">
                <button disabled type="button" onclick="saveModal()" class="w-full justify-center text-blue-900 inline-flex items-center border border-blue-900 bg-blue-555 bg-opacity-10 font-medium rounded-lg text-sm px-5 py-2.5">
                    Save
                </button>
                <button disabled type="button" onclick="submitModal()" class="w-full justify-center text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 font-medium rounded-lg text-sm px-5 py-2.5">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    const createTemplateButton = document.getElementById('createTemplatebutton');
    const templateModal = document.getElementById('templateModal');

    createTemplateButton.addEventListener('click', () => {
        templateModal.classList.remove('hidden');
        templateModal.removeAttribute('aria-hidden');
    });

    const closeModalButtons = templateModal.querySelectorAll('[data-modal-hide="templateModal"]');
    closeModalButtons.forEach(button => {
        button.addEventListener('click', () => {
            templateModal.classList.add('hidden');
            templateModal.setAttribute('aria-hidden', 'true');
        });
    });
</script>
{% endblock content %}

{% block styles %}
<style>
    ul.breadcrumb li {
        display: inline;
        font-size: 12px;
    }

    ul.breadcrumb li+li:before {
        color: black;
        content: "/\00a0";
    }

    ul.breadcrumb .current {
        color: #00BAFF;
    }

    .breadbutton {
        display: flex;
        justify-content: space-between;
    }
</style>
{% endblock styles %}
