{% extends 'labreqsys/base.html' %}
{% load static tailwind_tags %}

{% block content %}

<!--BREADCRUMB-->
<div class="breadbutton mb-4">
    <ul class="breadcrumb text-sm pt-2">
        <li>
            <a href="{% url 'testComponents' %}" class="text-myblue-primary">Test Component List/</a>
            <a href="#" class="text-myblue-highlight"> View {{ component.test_name }} Component </a>
        </li>
    </ul>
    <div class="col ms-auto text-end">
        <button class="text-white px-6 py-2 bg-myblue-primary font-medium rounded-lg text-sm" type="button">
            <a href="{% url 'edit_testcomponent' component_id=component.component_id %}" class="text-white no-underline">Edit Test Component</a>
        </button>
    </div>
</div>

<!--CONTENT-->
<div class="w-full h-hug p-8 pt-6 bg-white rounded-lg shadow inline-flex flex-col justify-start items-start gap-2 overflow-hidden">
    
    <!--Section title: Test Component Detail-->
    <div class="self-stretch py-2 border-b border-black/20 inline-flex justify-center items-center gap-1.5">
        <div class="flex-1 justify-center text-blue-900 text-lg font-semibold">View {{ component.test_name }} Template</div>
    </div>

    <!--TEMPLATE VIEW-->
    <div class=" p-4 w-full h-full md:h-auto bg-white mt-10 rounded-lg">
        <div>
            <div class="text-center text-base font-semibold text-blue-900 uppercase mb-2">{{ component.test_name }}</div>

            {% for section_data in sections %}
            <div class="grid gap-2.5 mb-4 sm:grid-cols-{{ section_data.field_count }} mr-10">
                {% for f in section_data.fields %}
                <div>
                    <label class="block mb-2 text-center text-sm font-medium text-gray-500">{{ f.label_name }}</label>
                    {% if f.field_type == "Label" %}
                        <div class="text-center">{{ f.field_value }}</div>
                    {% elif f.field_type == "Text" %}
                        <input disabled type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" name="{{ f.label_name }}" value="{{ f.saved_value|default_if_none:'' }}">
                    {% elif f.field_type == "Number" %}
                        <input disabled type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" name="{{ f.label_name }}" value="{{ f.saved_value|default_if_none:'' }}">
                    {% elif f.field_type == "Image" %}
                        <input disabled type="url" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" name="{{ f.label_name }}" placeholder="Enter image URL" value="{{ f.saved_value|default_if_none:'' }}">
                    {% else %}
                        <input disabled type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5" name="{{ f.label_name }}" value="{{ f.saved_value|default_if_none:'' }}">
                    {% endif %}
                </div>            
                {% endfor %}
            </div>
            {% endfor %}

        </div>
    </div>


</div>


{% endblock content %}

{% block styles %}
<style>
    ul.breadcrumb li {
        display: inline;
        font-size: 12px;
    }

    ul.breadcrumb li+li:before {
        color: black;
        content: "/\00a0";
    }

    ul.breadcrumb .current {
        color: #00BAFF;
    }

    .breadbutton {
        display: flex;
        justify-content: space-between;
    }
</style>
{% endblock styles %}
